# Created by .ignore support plugin (hsz.mobi)
/.idea/
/gradlew
/client/build/
/out/
/gradle/
/gradlew.bat
/.gradle/
/client/src/main/webapp/npm-debug.log
/client/src/main/webapp/node_modules/
/npm-debug.log
