<div class="panel panel-default" style="display: none" id="{{panelId}}">
    <div class="panel-heading" id="{{chatroomNameId}}"></div>
    <div class="panel-body">
        <label for="{{nicknameId}}">Join as:</label>
        <input id="{{nicknameId}}" type="text" class="form-control" placeholder="Your nickname">
    </div>
    <div class="panel-footer clearfix">
        <div class="btn-group pull-right">
            <button id="{{enterBtnId}}" class="btn btn-default btn-sm" type="button" style="display: none">Enter</button>
            <button id="{{cancelBtnId}}" class="btn btn-default btn-sm" type="button">Cancel</button>
        </div>
    </div>
</div>